<!doctype html>
<html>

<head>
    <title>Supervisor Portal</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/worker.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.js"></script>
    <script src="app.js"></script>
    <script src="controller/worker.controller.js"></script>
    <script src="service/workerService.js"></script>
    <script src="directive/worker-directive.js"></script>
    <script src="controller/workers.json"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body ng-app="workerApp">

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse bg-inverse">
        <div class="container">
            <a class="navbar-brand" href="#">Cotton-o-Mill</a>
        </div>
    </nav>



    <div class="spin-container" ng-class="{'d-none': !isLoading}">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>

    <div class="container m-b" ng-controller="WorkerController" ng-hide="isLoading">

        <h4 class="p-t-10">Worker List:</h4>

        <div class="row marketing" ng-if="workersData.length">
            <div class="col-lg-12 col-xl-12 col-md-12 outer-div">
                <div class="worker-div " ng-repeat="worker in workersData" ng-click="assignWorker(worker,$event)">
                    <worker-directive></worker-directive>
                </div>
            </div>
        </div>
        <div class="row marketing">
            <div class="col-lg-12 col-xl-12 col-md-12 assign-div" ng-show="workAssigned">
                <br/>
                <p><span class="worker-name">Assign task to '{{selectedWorker.name}}'</span></p>
                <form name="myForm">
                    Task Name: <br/>
                    <input type="text" name='taskName' ng-model="taskName" ng-required="true"><br/><br/> Task duration (In
                    Seconds):
                    <br/>
                    <input type="number" name='time' ng-model="taskDuration" ng-required="true"><br/><br/>
                    <button ng-click="assignTask()" class="btn btn-primary" ng-disabled="myForm.$invalid"><span class="glyphicon glyphicon-tasks"></span>&nbsp; Assign Task</button>
                </form>
            </div>
        </div>
    </div>
    <!--<div ui-view>-->
    </div>
</body>

</html>