
.spin-container {
    top: 0;
    left: 0;
    position: absolute;
    height: 48px;
    width: 48px;
    margin: auto;
    bottom: 0;
    right: 0;
}

.outer-div {
    border: 1px solid green;
    margin: 10px;
    max-height: 360px;
    overflow: auto;
}

.worker-div {
    border: 1px solid gray;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    height: 66px;
    transition:all linear 0.5s;
}

.worker-div:hover,
.worker-div:active {
    background:rgba(255,0,0,0.4);
}

.name-span {
    font-size: 20px;
    font-weight: 600;
}

.mobile-span {
    float: right;
}

.worker-name {
    font-size: 20px;
    font-weight: 600;
}

.selected {
    background:rgba(255,0,0,0.5);
}
.deselected {
    background-color:#ffffff;
}

.m-b {
    margin-bottom: 20px; 
}
.d-none{
    display: none;
}

.p-t-10 {
    padding-top: 10px;
}